.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  text-decoration: none;
  color: #61fbb3;b
} */

html {
  background-color: rgba(0, 0, 0, 0.863);
}

h1 {
  text-align: center;
  margin: 8px;
  color: rgba(255, 255, 255, 0.822);
  font-size: 29px;
  font-weight: normal;
  font-family: Arial, Helvetica, Arial, sans-serif;
}

p {
  margin: auto;
  width: 50%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.822);
}

.navItem {
  text-decoration: none;
  margin-right: 13px;
  margin-top: 8px;
  color: grey;
}

.navBar {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8.4px;
  padding-right: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
